
<mat-toolbar color="primary">
  <span class="fill-remaining-space">Add warehouse box</span>
</mat-toolbar>
<div class="container">
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()"  class="form">

    <mat-form-field class="form-element">
      <input matInput placeholder="Box description" formControlName="description">
    </mat-form-field>

    <mat-form-field class="form-element">
      <mat-label>Product Name</mat-label>
      <mat-select formControlName="productId">
        <mat-option *ngFor="let prod of products" [value]="prod.id">
          {{prod.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="form-element">
      <mat-label>Location Name</mat-label>
      <mat-select formControlName="locationId">
        <mat-option *ngFor="let loc of locations" [value]="loc.id">
          {{loc.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>


<!--    <div class="form-group">-->
<!--      <label for="description">Description:</label>-->
<!--      <input type="text" formControlName="description" placeholder="description" name="description" class="form-control" id="description">-->
<!--    </div>-->
<!--    <br/>-->

<!--    <div class="form-group">-->
<!--      <label for="productId">Product:</label>-->
<!--      <select formControlName="productId" name="productId" class="form-control" id="productId" (change)="change($event)">-->
<!--        <option *ngFor="let prod of products" [value]="prod.id">{{prod.name}}</option>-->
<!--      </select>-->
<!--    </div>-->
<!--    <br/>-->

<!--    <div class="form-group">-->
<!--      <label for="locationId">Location:</label>-->
<!--      <select formControlName="locationId" name="locationId" class="form-control" id="locationId" (change)="change($event)">-->
<!--        <option *ngFor="let loc of locations" [value]="loc.id">{{loc.name}}</option>-->
<!--      </select>-->
<!--    </div>-->

    <div class="form-element">
      <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!addForm.valid">Add</button>
    </div>

  </form>
</div>
